<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Symfony!</title>
</head>
<body>
<h1>Process started</h1>

   <form action="/csv" method="post" enctype="multipart/form-data">
       <input type="file" name="file">
       <button type="submit">Upload</button>
   </form>

</body>
</html>